* {
    margin: 0;
    padding: 0;
  }

:root {
  --verde-fundo: ;
  --fonte-principal: "Lustria";
  --verde-principal: ;
  --azul-principal: ;
  --verde-secundario: ;
  --link: #0a4804;7
}

body{
background-color: rgb(70, 8, 8);
color: rgb(255, 255, 255);
background-image: url(img/dowlond2.jpg);
background-size: cover;
background-repeat: no-repeat ;
}

/*Cabeçalho / Header */
.cabecalho{

}


/*seções comuns ou seção 1*/
.secao1{
font-size: 40px;
text-align: initial;
}



/*rodapé*/
.rodape{

}
h1{
  text-align: center;
  font-size: 50px;
}
.h6{
  text-align: center;
  font-size: 50px ;
}

